* {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    padding: 12px;
    background-color: hsl(0, 0%, 8%);
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 390px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 1rem 2.5rem;
    text-align: center;
}

.card .profile .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

.card .avatar > img {
    width: inherit;
    height: inherit;
}

.card .profile .heading {
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.8px;
}

.card .profile .heading h1 {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card .profile .heading p {
    font-size: 14px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

.card .profile .desc {
    padding: 5px;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

.card .profile .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: self-start;
    gap: 1.1rem;
    padding-top: 1.2rem;
}

.card .profile .links button {
    width: 100%;
    padding: 14.5px;
    border-radius: 8px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}

.card .profile .links button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}